{% extends 'WePongAuth/base.html' %}

{% block content %}

{% load static %}
<a href="/" ><img src='{% static "WePongAuth/images/arrow.svg" %}' alt="" class="goBackArrow"></a>
<div id="root" class="box">
    <div class="ponglogo">
        <img src='{% static "WePongAuth/images/Pong.svg" %}'>
    </div>
    <div class="titleDecorationDiv">
        <hr color="white" width="80%" style="max-width: 700px;">
        <div class="regiTitle">
            <img src='{% static "WePongAuth/images/REGESTRATION.svg" %}' alt="">
        </div>
    </div>
    <!-- <div class="regi-form-container"> -->
        <form action="registration" method="post" class="regi-form-container">
            {% csrf_token %}
            <div class="regi-inputdiv">
                <input type="email" id="email" name="email" style="padding-left: 10px;" placeholder="Enter your email" autocomplete="off" required>
            </div>
            <div class="regi-inputdiv">
                <input type="text" id="username" name="username" style="padding-left: 10px;" placeholder="Enter your username" autocomplete="off" required>
            </div>
            <div class="regi-inputdiv">
                <input type="password" id="password" name="password" style="padding-left: 10px;" placeholder="Enter your password" required>
                <span class="ayeIcon">
                    <img src='{% static "WePongAuth/images/closed-eye.svg" %}' id="eye-icon" alt="Show password" width="100%" height="100%">
                </span>
            </div>
            <div class="regi-inputdiv">
                <input type="password" id="passwordConfirmation" name="passwordConfirmation" style="padding-left: 10px;" placeholder="Confirm your password" required>
            </div>
            <div class="regi-buttonDiv">
                <button type="submit" class="button" >REGISTER</button>
            </div>
            </form>
        <!-- </div> -->
    <div class="signUpDiv">
        <p><a href="login" >SIGN IN</a></p>
    </div>
</div>

{% endblock %}
